gather-data-wt1.3/target/classes/gatherdata.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<flow name="postData" doc:id="18ec935c-9748-466e-9604-e33082ecc234" >
		<http:listener doc:name="Listener" doc:id="a5b3b867-9dee-4113-bbec-7ffe5145ccbc" config-ref="HTTP_Listener_config" path="/post" allowedMethods="POST">
			<http:response >
				<http:body ><![CDATA[#[output application/json --- payload..*account.@id]]]></http:body>
			</http:response>
		</http:listener>
		<set-variable value="world!" doc:name="Set Variable" doc:id="0d27a241-b18d-45b6-be16-9161e3d76933" variableName="hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="c94abf96-fcde-44fa-8085-29202572cdf0" message="#[payload]"/>
	</flow>
	<flow name="gatherData" doc:id="b370431e-7c48-4222-8759-0f238c5f0965" >
		<http:listener doc:name="Listener" doc:id="b8e62e70-a159-4922-b10b-e13e4ea13965" config-ref="HTTP_Listener_config" path="/gather/{destination}" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	SERVICEROUTE : vars.serverID
}]]]></http:headers>
			</http:response>

		</http:listener>
		<set-variable value="#[attributes.uriParams.destination]" doc:name="destinationCode" doc:id="3d6f5c7a-0980-49ef-9572-cc05394d4a6f" variableName="destinationCode"/>
		<set-variable value="#[attributes.queryParams.maxprice]" doc:name="maxPrice" doc:id="29dd5188-9b0a-4d0d-8243-4e0d9e051658" variableName="maxPrice"/>
		<set-variable value="#[attributes.headers.agencyid]" doc:name="agencyID" doc:id="90655fa0-8e57-4e79-a16c-0b3278589a65" variableName="agencyID"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="5529d0bf-9c13-4d54-a152-b1d575e7468d" >
			<route >
				<flow-ref doc:name="getAmerican" doc:id="d33ca3af-6215-4300-b681-627cdd407c00" name="getAmerican"/>
			</route>
			<route >
				<flow-ref doc:name="getUnited" doc:id="0128b1de-7307-45d9-b363-5073e51bb791" name="getUnited"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Convert to JSON" doc:id="9249779c-bddd-4393-8719-3b51960cdfa6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload as Array) filter($.price as Number <= vars.maxPrice)
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value='#[vars.agencyID as String ++ "- 42JDKFS"]' doc:name="serverID" doc:id="69ea1130-0cd9-4107-8e5d-485309a6995e" variableName="serverID"/>
	
</flow>
</mule>
